body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #302f2f;
}

h2 {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #837272;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #96ecfc;
    color: rgb(145, 127, 127);
}

tr:nth-child(even) {
    background-color: #cac3c3;
}

tr:hover {
    background-color: #b8aeae;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
